.body{
    border: 2px solid mediumaquamarine;
    padding: 15px;
    margin: 12px;
    border-radius: 10px;
    text-align: center;
}

.visited-style{
    background-color:lightgray;
    color: black;
}
.btn{
    margin-bottom: 16px;
    
}